{{!< default}}

<main class="content" role="main">
  {{#post}}
  <article class="{{post_class}}">

      <h1 class="post-title">{{title}}</h1>

      <hr>

      <div class="vertical-cell">
        <header class="post-header">
          <section class="post-meta">
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do YYYY"}}</time>
          </section>
        </header>

        <section class="post-content">

          {{content}}

        </section>

        <footer class="post-footer">
          <section class="post-meta">
            On <span class="post-tags">{{tags separator=' and '}}</span>
          </section>
        </footer>
      </div>

      <hr>

      {{> comments}}

  </article>
  {{/post}}
</main>
